body {
  background-color: black;
  color: white;
  text-align: center;
}

button {
  color: white;
  background-color: black;
  border: 2px solid white;
  width: 30%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttons {
  position: fixed;
  left: 0px;
  bottom: 20px;
  width: 100%;
}

button:hover {
  background-color: white;
  color: black;
  border: 2px solid white;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

#image {
  max-width: 100%;
  max-height: 700px;
}
